{% extends "main/base-user.html" %}
{% block title %}查询图书信息{% endblock %}


{% block body %}
    <div style="width: 1200px;margin: auto">
    <br />
        <div style="position: absolute; z-index: 1000;">
            <input type="text" id="searchInput" placeholder="输入搜索内容" style="padding: 5px;">
            <button id="searchBtn" class="layui-btn layui-btn-sm">搜索</button>
        </div>
    </div>
    <div id="map" style="height: 780px;"></div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // 初始化地图，设置中心点和缩放级别
        var map = L.map('map').setView([29.0, 120.0], 7);

        // 添加OpenStreetMap底图
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>

    <script>
        layui.use(['form','table','jquery'], function(){
            
            var $ = layui.$;

            $(document).ready(function(){
                $('#searchBtn').on('click',function () {
                    var searchText = $('#searchInput').val();
                    if(searchText === ""){
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg('请填写查询内容',{time: 800});
                        });
                    }
                    else{
                        $.ajax({
                            url:"{{ url_for('main.find_map') }}",
                            type:"post",
                            data:JSON.stringify({search: searchText}),
                            processData:false,
                            contentType:"application/json",
                            success:function(data){
                                
                                // 先清除之前的图层
                                if(window.geojsonLayer) {
                                    map.removeLayer(window.geojsonLayer);
                                }
                                // 添加新的GeoJSON数据
                                window.geojsonLayer = L.geoJSON(data).addTo(map);
                                // 自动调整地图视图到搜索结果
                                map.fitBounds(window.geojsonLayer.getBounds());
                            },
                            error: function() {
                                layui.layer.msg('搜索失败，请重试', {time: 1000});
                            }
                        });
                    }
                })
            });
        });
    </script>
{% endblock %}